* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .wrapper{
    padding: 10px;
} */
/* <!-- First header is started--> */
header {
    width: 100%;
    height: 10vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.header-1st-child {
    width: 250px;
    height: 3vh;
    /* background-color: aqua; */
    font-size: 20px;
    margin-left: 4vw;

}

.header-1st-child p {
    font-family: sans-serif;
    font-size: 0.8em;
    color: #9b9b9b;
}

.header-2nd-child {
    width: 400px;
    height: 3vh;
    /* background-color: rgb(6, 91, 47); */
    display: flex;

}

.header-2nd-child-first-child {
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.header-2nd-child-first-child p {
    font-family: sans-serif;
    font-size: 0.6em;
    color: #ADADAD;
    margin-left: 3px;
    text-transform: capitalize;
}

.header-2nd-child-first-child span {
    margin-left: 1.5vw;
    color: #ADADAD;
}

.header-2nd-child-second-child {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.header-2nd-child-second-child p {
    font-family: sans-serif;
    font-size: 0.6em;
    color: #ADADAD;
    margin-left: 3px;
    text-transform: capitalize;
}

.header-2nd-child-second-child span {
    margin-left: 1.5vw;
    color: #ADADAD;
}

.header-2nd-child-third-child {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

/* fist header is completed */

/* <!-- first nav-bar is started--> */

.main-nav {
    width: 100%;
    /* height: 12vh; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
    margin-top: 10px;

    /* flex-direction: row; */
}

.first-main-nav-child {
    width: 400px;
    height: 9vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    /* align-items: center; */
}

.first-main-nav-child p {
    font-family: sans-serif;
    font-size: 1.3em;
    color: #008ECC;
    /* background-color: yellowgreen; */
    font-weight: 550;
}


.mega-icon {
    width: 60px;
    height: 8vh;
    /* background-color: #9b9b9b; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.7vw;
}

.mega-icon img {
    width: 70%;
    height: 80%;
}

.main-nav-second-parent {
    width: 750px;
    /* height: 9vh; */
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-main-nav-child {
    width: 400px;
    height: 7vh;
    background-color: #f3f9fb;
    display: flex;
    align-items: center;
    filter: contrast(0.5px);
    border-radius: 6px;
    /* margin-left: 3vw; */

}

.search-img {
    width: 50px;
    height: 7vh;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-img img {
    width: 45%;
    filter: contrast(0.5px);
}


label>input {
    width: 300px;
    height: 7vh;
    background-color: #f3f9fb;
    border: none;
}

.third-main-nav-child {
    width: 300px;
    height: 7vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-first-child {
    width: 160px;
    height: 7vh;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;

}

.third-first-child img {
    width: 15%;
    height: 60%;

}

.third-first-child h5 {
    font-family: sans-serif;
    font-size: 0.6em;
    color: #666666;
}

.third-first-child span {
    color: #D9D9D9;
    margin-left: 2vw;
}


.third-second-child {
    width: 125px;
    height: 7vh;
    /* background-color: rgb(79, 23, 175); */
    display: flex;
    align-items: center;
}

.third-second-child h5 {
    font-family: sans-serif;
    font-size: 0.6em;
    color: #666666;
    margin-left: 5px;
}


/* <!-- 2nd-navbar-dropdown --> */
.second-nav {
    width: 100%;
    /* height: 8vh; */
    /* background-color: #0c3648; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
flex-wrap: wrap;
}

.drop-down-boxes {
    width: 95%;
    /* height: 7vh; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
}

.select-box-1 {
    width: 120px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
}

.select-box-1 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #008ECC;
    color: #ffffff;
    appearance: none;
    outline: none;
    padding-left: 5px;

}

.select-box-1::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#ffffff;
    border-bottom: 1.5px solid #ffffff;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-1 select:focus {
    border-color: #ffffff;

}


.select-box-2 {
    width: 125px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-2 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-2::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-2 select:focus {
    border-color: #008ECC;
}

.select-box-3 {
    width: 130px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-3 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-3::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-3 select:focus {
    border-color: #008ECC;
}

.select-box-4 {
    width: 100px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-4 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-4::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-4 select:focus {
    border-color: #008ECC;
}

.select-box-5 {
    width: 110px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-5 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-5::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-5 select:focus {
    border-color: #008ECC;
}

.select-box-6 {
    width: 90px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-6 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-6::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-6 select:focus {
    border-color: #008ECC;
}

.select-box-7 {
    width: 148px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-7 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */
}

.select-box-7::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-7 select:focus {
    border-color: #008ECC;
}

.select-box-8 {
    width: 220px;
    height: 6.5vh;
    /* background-color: rgb(79, 41, 217); */
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    position: relative;
}

.select-box-8 select {
    width: 100%;
    height: 5vh;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 10px;
    background-color: #F3F9FB;
    color: #565859;
    appearance: none;
    outline: none;
    padding-left: 5px;
    /* border: none; */

}

.select-box-8::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 7px;
    height: 7px;
    border-right: 1.5px solid#008ECC;
    border-bottom: 1.5px solid #008ECC;
    transform: rotate(45deg);
    right: 13px;
    margin-top: -5px;
    pointer-events: none;

}

.select-box-8 select:focus {
    border-color: #008ECC;
}

/* <!-- 2nd-navbar-dropdown is completed --> */

/* <!-- 1st content is started --> */
.content {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
margin-top: 50px;

}

.content-first {
    width: 90%;
    /* height: 50vh; */
    background-color: #212844;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    gap: 10px;
    /* flex-direction: row; */
    /* padding: 10px; */
}

.content-left {
    width: 400px;
    height: 45vh;
    /* background-color: #ad0f90; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 10px;
}

/* .content-left-child{
    width: 450px;
    height: 45vh;
    background-color:#e04f15;
} */


.content-left-child h3 {
    font-family: sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin-top: 0.5vw;
}

.content-left-child h1 {
    font-family: sans-serif;
    font-size: 2em;
    color: #ffffff;
    margin-top: 1vw;
}

.content-left-child h4 {
    font-family: sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin-top: 1vw;
}

.content-left-child-img {
    width: 120px;
    /* height: 3vh; */
    background-color: #212844;
    margin-top: 4.6vw;
}

.content-left-child-img img {
    width: 100%;
}

.content-right {
    /* width: 400px;
    height: 45vh;
    background-color: #c6630c; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
  justify-content: center; */
    font-size: 20px;
    position: relative;
    margin-top: 10px;
}

.circle-image {
    width: 400px;
    height: 45vh;
    /* background-color: #ff9b05; */
}

.circle-image img {
    width: 100%;
    height: 100%;
}

.watch-image {
    width: 240px;
    height: 34vh;
    /* background-color: #f51770; */
    position: absolute;
    left: 80px;
    top: 40px;
}

.watch-image img {
    width: 85%;
    height: 100%;
}

/* Alhumdulillah finally banner done */

/* my card section is started */

.cards-one {
    width: 100%;
    height: 10vh;
    /* background-color: #212844; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}

.card-one-child {
    width: 275px;
    height: 8vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #008ECC;
    margin-left: 30px;
}

.card-one-child>h4 {
    font-family: sans-serif;
    font-size: 1em;
    color: #666666;
    margin-left: 5px;
}

.card-one-child>span {
    font-family: sans-serif;
    font-size: 1em;
    color: #008ECC;
    margin-left: 5px;
}

.card-two-child {
    width: 130px;
    height: 8vh;
    /* background-color: purple; */
    font-size: 20px;
    display: flex;
    align-items: center;
}

.card-two-child p {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #666666;
}

.card-two-child span {
    color: #008ECC;
    font-size: 0.8em;
    margin-left: 7px;
    font-weight: 650;
}

/* <!-- Alhumdullillah card heading finish --> */

/*  Ab main phone k cards ki images lagane lagi hum */
.cards-one-images {
    width: 100%;
    /* height: 60vh; */
    /* background-color: yellowgreen; */
    /* margin-top: 10px; */
    display: flex;
    /* flex-direction: row; */
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.smartphne-image-one {
    width: 200px;
    height: 41vh;

    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    border-radius: 16px;
    border: 1.5px solid rgb(206, 206, 206);
    background-color: #fcfcfc;
}



.smartphne-image-one-child {
    width: 180px;
    height: 25vh;
    /* background-color:#EDEDED; */
    display: flex;
    /* margin-left: 10px; */
    flex-direction: column;
}

.smartphne-image-one-child img {
    width: 40%;
    margin-left: 50px;
    margin-top: 10px;
}

.paragraph {
    width: 180px;
    height: 3vh;
    /* background-color: #008ECC; */
    padding: 5px;
    display: flex;
    align-items: center;
}

.paragraph p {
    font-family: sans-serif;
    font-weight: 500;
    color: #222222;
}

.price {
    width: 180px;
    height: 3vh;
    /* background-color: green; */
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.price h4 {
    font-family: sans-serif;
}

.price span {
    text-decoration: line-through;
    color: #222222;

}

.hr {
    width: 180px;
    height: 3vh;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;

}

.hr hr {
    width: 100%;
    color: #d6d6d6;
}

.save-price {
    width: 180px;
    height: 3vh;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    padding: 5px;
}

.save-price h4 {
    font-family: sans-serif;
    color: #249B3E;
    font-weight: 400;

}

.smartphne-image-one:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.smartphne-image-two {
    width: 200px;
    height: 41vh;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid rgb(206, 206, 206);
    background-color: #fcfcfc;
}

.smartphne-image-two-child {
    width: 180px;
    height: 25vh;
    /* background-color: plum; */
    display: flex;
    /* margin-left: 10px; */
    flex-direction: column;
}

.smartphne-image-two-child img {
    width: 60%;
    margin-left: 35px;
    margin-top: 3px;
}
.smartphne-image-two:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.smartphne-image-three {
    width: 200px;
    height: 41vh;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid rgb(206, 206, 206);
    background-color: #fcfcfc
}

.smartphne-image-three-child {
    width: 180px;
    height: 25vh;
    /* background-color: plum; */
    display: flex;
    /* margin-left: 10px; */
    flex-direction: column;
}

.smartphne-image-three-child img {
    width: 65%;
    margin-left: 30px;
    /* margin-top: 3px; */
}

.smartphne-image-three:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.smartphne-image-four {
    width: 200px;
    height: 41vh;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid rgb(206, 206, 206);
    background-color: #fcfcfc;
}

.smartphne-image-four-child {
    width: 180px;
    height: 25vh;
    /* background-color: plum; */
    display: flex;
    /* margin-left: 10px; */
    flex-direction: column;
}

.smartphne-image-four-child img {
    width: 65%;
    margin-left: 30px;
    /* margin-top: 3px; */
}

.smartphne-image-four:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.smartphne-image-five {
    width: 200px;
    height: 41vh;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1.5px solid rgb(206, 206, 206);
    background-color: #fcfcfc;
}

.smartphne-image-five-child {
    width: 180px;
    height: 25vh;
    /* background-color: plum; */
    display: flex;
    /* margin-left: 10px; */
    flex-direction: column;
}

.smartphne-image-five-child img {
    width: 65%;
    margin-left: 30px;
    margin-top: -15px;

}

.smartphne-image-five:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

/* <!--  Ab main phone k cards ki images bhi lagadi --> */

/* <!-- 2nd card section top catogries wala is started heading  --> */
.cards-two {
    width: 100%;
    height: 10vh;
    /* background-color: #212844; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 50px;
}

.card-three-child {
    width: 210px;
    height: 8vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #008ECC;
    margin-left: 30px;
}

.card-three-child>h4 {
    font-family: sans-serif;
    font-size: 1em;
    color: #666666;
    margin-left: 5px;
}

.card-three-child>span {
    font-family: sans-serif;
    font-size: 1em;
    color: #008ECC;
    margin-left: 5px;
}

.card-four-child {
    width: 130px;
    height: 8vh;
    /* background-color: purple; */
    font-size: 20px;
    display: flex;
    align-items: center;
}

.card-four-child p {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #666666;
}

.card-four-child span {
    color: #008ECC;
    font-size: 0.8em;
    margin-left: 7px;
    font-weight: 650;
}
/* <!-- 2nd card section top catogries wala is completed heading  --> */

/* <!-- 2nd card section is started --> */

.top-catogries-card-1{
    width: 200px;
    height: 30vh;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.round-img{
    width: 180px;
height: 25vh;
/* background-color: #249B3E; */
display: flex;
justify-content: center;
align-items: center;
margin-left: 9.5px;
}

.round-img img{
    width: 75%;
}

.phone-screen-img{
    width: 120;
    /* height: 10vh; */
    /* background-color: purple; */
    position: absolute;
    top: 29px;
    left:73px;
    
}

.phone-screen-img img{
    width: 105%;
  
}

.text-1{
    width: 100px;
/* background-color: yellow;     */
margin-left: 40px;
margin-top: 5px;
}

.text-1 p{
    font-family: sans-serif;
    margin-left: 32px;
    color: #222222;
}

.top-catogries-card-1:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.top-catogries-card-2{
    width: 200px;
    height: 30vh;
    /* background-color: #565859; */
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.round-img-2{
    width: 180px;
height: 25vh;
/* background-color: #249B3E; */
display: flex;
justify-content: center;
align-items: center;
margin-left: 9.5px;
}

.round-img-2 img{
    width: 75%;
}

.facewash-img-2{
    width: 120;
    /* height: 10vh; */
    /* background-color: purple; */
    position: absolute;
    top: 20px;
    left:64px;
    
}

.facewash-img-2 img{
    width: 105%;
  
}

.text-2{
    width: 100px;
/* background-color: yellow;     */
margin-left: 40px;
margin-top: 5px;
}

.text-2 p{
    font-family: sans-serif;
    margin-left: 20px;
    color: #222222;
}

.top-catogries-card-2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.top-catogries-card-3{
    width: 200px;
    height: 30vh;
    /* background-color: #565859; */
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.round-img-3{
    width: 180px;
height: 25vh;
/* background-color: #249B3E; */
display: flex;
justify-content: center;
align-items: center;
margin-left: 9.5px;
}

.round-img-3 img{
    width: 75%;
}

.watch-img-3{
    width: 120;
    /* height: 10vh; */
    /* background-color: purple; */
    position: absolute;
    top: 29px;
    left:50px;
    
}

.watch-img-3 img{
    width: 105%;
  
}

.text-3{
    width: 100px;
/* background-color: yellow;     */
margin-left: 40px;
margin-top: 5px;
}

.text-3 p{
    font-family: sans-serif;
    margin-left: 32px;
    color: #222222;
}

.top-catogries-card-3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.top-catogries-card-4{
    width: 200px;
    height: 30vh;
    /* background-color: #565859; */
    display: flex;
    flex-direction: column;
}

.round-img-chair{
    width: 180px;
height: 25vh;
margin-top: 4px;
margin-left: 33px;
}
.round-img-chair img{
    width: 75%;
}

.text-4{
    width: 100px;
/* background-color: yellow;     */
margin-left: 40px;
margin-top: 3px;
}

.text-4 p{
    font-family: sans-serif;
    margin-left: 32px;
    color: #222222;
}

.top-catogries-card-4:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.top-catogries-card-5{
    width: 200px;
    height: 30vh;
    /* background-color: #565859; */
    display: flex;
    flex-direction: column;
}

.round-img-machine{
    width: 180px;
height: 25vh;
margin-top: 5px;
margin-left: 32px;
}
.round-img-machine img{
    width: 75%;
}

.text-5{
    width: 100px;
/* background-color: yellow;     */
margin-left: 30px;
margin-top: 3.5px;
}

.text-5 p{
    font-family: sans-serif;
    margin-left: 32px;
    color: #222222;
}

.top-catogries-card-5:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

/* <!-- 2nd card section is completed --> */

/* my thirt card heading section is started */

.cards-three{
    width: 100%;
    height: 10vh;
    /* background-color: plum; */
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 50px;
}

.card-five-child {
    width: 190px;
    height: 8vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #008ECC;
    margin-left: 30px;
}

.card-five-child>h4 {
    font-family: sans-serif;
    font-size: 1em;
    color: #666666;
    margin-left: 5px;
}

.card-five-child>span {
    font-family: sans-serif;
    font-size: 1em;
    color: #008ECC;
    margin-left: 5px;
}

.card-six-child {
    width: 130px;
    height: 8vh;
    /* background-color: purple; */
    font-size: 20px;
    display: flex;
    align-items: center;
}

.card-six-child p {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #666666;
}

.card-six-child span {
    color: #008ECC;
    font-size: 0.8em;
    margin-left: 7px;
    font-weight: 650;
}
/* <!-- my thirt card headind section is complted --> */

/* third card images section is started  */

.electronic-image-1{
    width: 350px;
    
    /* background-color: lightcoral; */
}

.electronic-image-1 img{
    width: 100%;
    
}

.electronic-image-1:hover{
    cursor: pointer;
    transform: scalex(1.1);
    transition: 0.3s;
}

.electronic-image-2{
    width: 350px;
   
    /* background-color: lightcoral; */
}

.electronic-image-2 img{
    width: 100%;
   
}

.electronic-image-2:hover{
    cursor: pointer;
    transform: scalex(1.1);
    transition: 0.3s;
}

.electronic-image-3{
    width: 350px;
    
    /* background-color: lightcoral; */
}

.electronic-image-3 img{
    width: 100%;
   
}

.electronic-image-3:hover{
    cursor: pointer;
    transform: scalex(1.1);
    transition: 0.3s;
}

/* third card images section is completed */

/* <!-- my forth card section heading is started --> */
.cards-four{
    width: 100%;
    height: 10vh;
    /* background-color: plum; */
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 50px;
}

.card-seven-child {
    width: 145px;
    height: 8vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #008ECC;
    margin-left: 30px;
}

.card-seven-child>h4 {
    font-family: sans-serif;
    font-size: 1em;
    color: #666666;
    margin-left: 5px;
}

.card-seven-child>span {
    font-family: sans-serif;
    font-size: 1em;
    color: #008ECC;
    margin-left: 5px;
}

.card-eight-child {
    width: 130px;
    height: 8vh;
    /* background-color: purple; */
    font-size: 20px;
    display: flex;
    align-items: center;
}

.card-eight-child p {
    font-family: sans-serif;
    font-size: 0.7em;
    color: #666666;
}

.card-eight-child span {
    color: #008ECC;
    font-size: 0.8em;
    margin-left: 7px;
    font-weight: 650;
}

/* <!-- my forth card section heading is complted --> */

    /* <!-- four card images section is started  --> */

    .daily-essentioal-baskit{
        width: 170px;
        height: 38vh;
        /* background-color: #a0d4ab; */
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .square-shape-image{
        width: 160px;
        height: 23vh;
        /* background-color: purple; */
    }

    .square-shape-image img{
        width: 100%;
        height: 130%;
    }
.baskit-image{
    position: absolute;
    bottom: 95px;
    width: 150px;
    height: 20vh;
    left: 15px;
    /* background-color: rgb(205, 159, 50); */
}

.baskit-image img{
    width: 93%;
}

.daily-essentioal-text-1{
    width: 150px;
    /* background-color: #c9c1c1; */
    margin-top: 15px;
}

.daily-essentioal-text-1 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #666666;
    margin-left: 17px;
    
}

.daily-essentioal-text-1 h4{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 14px;
}

.daily-essentioal-baskit:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

    .daily-essentioal-vegetables{
        width: 170px;
        height: 38vh;
        /* background-color: #a0d4ab; */
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .square-shape-image{
        width: 160px;
        height: 23vh;
        /* background-color: purple; */
    }

    .square-shape-image img{
        width: 100%;
        height: 130%;
    }
.vegetable-image{
    position: absolute;
    bottom: 105px;
    width: 100px;
    height: 20vh;
    left: 35px;
    /* background-color: rgb(205, 159, 50); */
}

.vegetable-image img{
    width: 100%;
    height: 100%;
}

.daily-essentioal-text-2{
    width: 150px;
    /* background-color: #c9c1c1; */
    margin-top: 15px;
}

.daily-essentioal-text-2 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #666666;
    margin-left: 33px;
    
}

.daily-essentioal-text-2 h4{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 15px;
}

.daily-essentioal-vegetables:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

.daily-essentioal-fruits{
    width: 170px;
    height: 38vh;
    /* background-color: #a0d4ab; */
    position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
}
   .square-shape-image{
        width: 160px;
        height: 23vh;
        /* background-color: purple; */
    }

    .square-shape-image img{
        width: 100%;
        height: 130%;
    }
.fruits-image{
    position: absolute;
    bottom: 115px;
    width: 120px;
    height: 18vh;
    left: 24px;
    /* background-color: rgb(205, 159, 50); */
}

.fruits-image img{
    width: 100%;
    height: 100%;
}

.daily-essentioal-text-3{
    width: 150px;
    /* background-color: #c9c1c1; */
    margin-top: 15px;
}

.daily-essentioal-text-3 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    
}

.daily-essentioal-text-3 h4{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 15px;
}

.daily-essentioal-fruits:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}


    .daily-essentioal-strawberry{
        width: 170px;
        height: 38vh;
        /* background-color: #a0d4ab; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        position: relative;
    }

   
.square-shape-image{
    width: 160px;
    height: 23vh;
    /* background-color: purple; */
}

.square-shape-image img{
    width: 100%;
    height: 130%;
}
.Strawberry-image{
position: absolute;
width: 120px;
height: 18vh;
top:20px;
margin-left: 5px;

/* background-color: rgb(205, 159, 50); */
}

.Strawberry-image img{
width: 90%;
height: 90%;
}

.daily-essentioal-text-4{
width: 150px;
/* background-color: #c9c1c1; */
margin-top: 15px;
}

.daily-essentioal-text-4 p{
font-family: sans-serif;
font-size: 15px;
color: #666666;
margin-left: 34px;

}

.daily-essentioal-text-4 h4{
font-family: sans-serif;
margin-top: 10px;
margin-left: 15px;
}

.daily-essentioal-strawberry:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

    .daily-essentioal-mango{
        width: 170px;
        height: 38vh;
        /* background-color: #a0d4ab; */
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

   .square-shape-image{
        width: 160px;
        height: 23vh;
        /* background-color: purple; */
    }

    .square-shape-image img{
        width: 100%;
        height: 130%;
    }
.mango-image{
    position: absolute;
    bottom: 100px;
    width: 120px;
    height: 18vh;
    left: 26px;
    /* background-color: rgb(205, 159, 50); */
}

.mango-image img{
    width: 90%;
    height: 90%;
}

.daily-essentioal-text-5{
    width: 150px;
    /* background-color: #c9c1c1; */
    margin-top: 15px;
}

.daily-essentioal-text-5 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #666666;
    margin-left: 50px;
    
}

.daily-essentioal-text-5 h4{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 15px;
}

.daily-essentioal-mango:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

    .daily-essentioal-cherry{
        width: 170px;
        height: 38vh;
        /* background-color: #a0d4ab; */
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    
    }
   .square-shape-image{
        width: 160px;
        height: 23vh;
        background-color: rgb(255, 255, 255);
    }

    .square-shape-image img{
        width: 100%;
        height: 130%;
    }
.cherry-image{
    position: absolute;
    bottom: 98px;
    width: 120px;
    height: 18vh;
    left: 35px;
    /* background-color: rgb(205, 159, 50); */
}

.cherry-image img{
    width: 80%;
    height: 75%;
}

.daily-essentioal-text-6{
    width: 150px;
    /* background-color: #c9c1c1; */
    margin-top: 15px;
}

.daily-essentioal-text-6 p{
    font-family: sans-serif;
    font-size: 15px;
    color: #666666;
    margin-left: 45px;
    
}

.daily-essentioal-text-6 h4{
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 15px;
}
 
.daily-essentioal-cherry:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.8s;
}

/* four card images section is completed  */ 

/* <!-- Finally Alhumdulillah LAST FOOTER workin is starting--> */

footer{
    width: 100%;
    height:auto;
    background-color: #008ECC;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-first-child-1{
    width: 380px;
    height: 55vh;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 50px;
}

.footer-first-child-1 h2{
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 5px;
}

.footer-first-child-1 h4{
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 20px;
}

.whatsapp-image{
    width: 120px;
    height: 5vh;
    /* background-color: #0e581e; */
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
    margin-top: 20px;
}

.whatsapp-image img{
    width: 100%;
    height: 100%;
    
}

.cellphone-image{
    width: 120px;
    height: 5vh;
    /* background-color: #0e581e; */
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
    margin-top: 10px;
    
}

.cellphone-image img{
    width: 100%;
    height: 100%;
    
}

.anchor{
    width: 300px;
height: 10vh;
/* background-color: purple; */
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 20px;
}
.anchor-1{
    width: 140px;
    height: 9vh;
    /* background-color: #9b9b9b; */
}

.anchor-1 img{
    width: 100%;
    /* height: 90%; */
}

.anchor-2{
    width: 140px;
    height: 9vh;
    /* background-color: #cd1616; */
}

.anchor-2 img{
    width: 100%;
    /* height: 90%; */
}

.footer-first-child-2{
    width: 380px;
    height: 55vh;
    /* background-color: rgb(180, 37, 58); */
display: flex;
flex-direction:column;
font-size: 20px;
padding-left: 30px;
margin-top: 50px;
}

.footer-first-child-2 h5{
    font-family: sans-serif;
    font-size:1em;
    color: white;
    margin-top: 10px;
    text-decoration:underline;
}

.footer-first-child-2 ul{
    font-family: sans-serif;
    font-size:0.8em;
    color: white;
    margin-top: 30px;
    
}

.footer-first-child-2 li{
    
    margin-top: 10px;
}

.footer-first-child-2 ul :hover{
    cursor: pointer;
    text-decoration: underline;
}


.footer-first-child-3{
    width: 380px;
    height: 55vh;
    /* background-color: rgb(244, 8, 43); */
padding-left: 30px;
margin-top: 50px;
}

.footer-first-child-3 h5{
    font-family: sans-serif;
    font-size:1.3em;
    color: white;
    margin-top: 10px;
    text-decoration: underline;
}

.footer-first-child-3 ul{
    font-family: sans-serif;
    font-size:1em;
    color: white;
    margin-top: 30px;
    
}

.footer-first-child-3 li{
    
    margin-top: 10px;
}

.footer-first-child-3 ul :hover{
    cursor: pointer;
    text-decoration: underline;
}

.hr{
    width:90%;
}

.last-text{
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 15px;
}

/* <!-- finally Alhumdulillah completed --> */
